---
import Avatar from "../assets/avataaars.svg";
import "../palette.css";
import "@fontsource/gugi";

import Button from "./Button.astro";

const currentPage = Astro.props.currentPage;
---

<nav>
    <div class="leftsection">
        <img
            src={Avatar.src}
            alt="Silloky's avatar"
            srcset=""
            width="60px"
            id="nav-avatar"
        />
        <Button
            icon="cuida:home-outline"
            label="Home"
            id="nav-home"
            active={currentPage == "home" ? true : false }
        />
        <Button
            icon="cuida:dashboard-outline"
            label="Portfolio"
            id="nav-portfolio"
            active={currentPage == "portfolio" ? true : false }
        />
        <Button
            icon="cuida:chatbubble-outline"
            label="Blog"
            id="nav-blog"
            active={currentPage == "blog" ? true : false }
        />
    </div>
    <div class="rightsection navicons">
        <Button icon="cuida:github-logo-outline" id="nav-github" />
        <Button icon="cuida:mail-outline" id="nav-mail" />
    </div>
</nav>

<style>
    nav {
        padding: 5px 10px 5px 50px;

        background-color: var(--licorice);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        font-family: "Gugi", system-ui;
    }

    nav div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #nav-avatar {
        margin-right: 30px;
    }
</style>

<script>
    $("nav").on("component-event", function (evt) {
        if (evt.originalEvent && (evt.originalEvent as CustomEvent).detail) {
            const { id, type } = (evt.originalEvent as CustomEvent).detail;
            if (type === "click") {
                console.log(`Button with id ${id} was clicked`);
                switch (id) {
                    case "nav-home":
                        window.location.href = "/";
                        break;
                    case "nav-portfolio":
                        window.location.href = "/portfolio";
                        break;
                    case "nav-blog":
                        window.location.href = "/blog";
                        break;
                    case "nav-github":
                        window.location.href = "https://github.com/silloky";
                        break;
                    case "nav-mail":
                        window.location.href = "mailto:silloky@silloky.me";
                        break;
                    default:
                        break;
                }
            }
        } else {
            console.error(
                "Event detail is missing or originalEvent is undefined",
            );
        }
    });
</script>
