---
import "../palette.css";
import "@fontsource/gugi";
import "@fontsource/josefin-sans"

import Navigation from "../components/Navigation.astro";

const currentPage = Astro.props.currentPage;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<title>Silloky</title>
	</head>
	<body>
		<Navigation currentPage={currentPage}/>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--licorice);
	}
</style>

<script>
	
</script>
