---
import { Icon } from "astro-icon/components";

var currentPage = "home";
---

<div id="home-container">
    <div id="intro">
        <div id="hero-anim">
            <h1 id="hero-name"></h1>
            <h2 id="hero-role"></h2>
        </div>
        <div id="learn-more" style="opacity: 0;">
            <span>Scroll to learn more</span>
            <Icon name="cuida:caret-down-outline" size="100%" />
        </div>
    </div>
</div>

<style>
    #home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--licorice);
        color: white;
    }

    #home-container img {
        width: 100px;
    }

    #intro {
        display: grid;
        grid-template-rows: 3.5fr 1fr;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 87.5vh;
    }

    #hero-anim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: monospace;
    }

    h1#hero-name {
        font-size: 4.5rem;
        font-weight: 700;
        margin: 0;
        text-shadow: 0px 0px 0.6ch #ffffffbd;
    }

    h2#hero-role {
        font-size: 2.5rem;
        font-weight: 500;
        text-align: center;
        text-shadow: 0px 0px 1.2ch white;
    }

    #hero-role div {
        /* SEE INLINE CSS BELOW */
    }

    #learn-more {
        font-family: "Gugi", system-ui;
        display: grid;
        grid-template-rows: 1fr 2fr;
        height: 10vh;
        text-align: center;
        transition: opacity 1s ease-in-out;
        animation: arrow-bounce 2s infinite;
    }

    @keyframes arrow-bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2vh);
        }
    }

    #learn-more svg {
        animation: arrow-bounce 2s infinite;
    }

    #learn-more:hover {
        cursor: pointer;
    }
</style>

<style is:global>
    nav * {
        opacity: 1;
        pointer-events: all;
        transition: opacity 1s ease-in-out;
    }
    nav.hidden-nav * {
        opacity: 0;
        pointer-events: none;
        background-color: var(--licorice);
        transition: opacity 1s ease-in-out;
    }
</style>

<script>
    import TypeIt from "typeit";

    var heroGradients = {
        student: "linear-gradient(to right, #de2b19, #860db9)",
        dev: "linear-gradient(to right, #264ddc, #0bd10f)",
        physicist: "linear-gradient(to right, #f66c06, #ffc207)",
    };

    async function heroAnimation() {
        return new Promise((resolve) => {
            new TypeIt("#hero-name", {
                speed: 70,
                lifeLike: true,
                afterComplete: () => {
                    new TypeIt("#hero-role", {
                        speed: 70,
                        lifeLike: true,
                        loop: true,
                        afterComplete: resolve,
                    })
                        .type(
                            `I'm a <span style='background: ${heroGradients.student}; -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-shadow: -1ch -0.2ch 45px #c0392b, 2ch 0.1ch 45px #8e44ad;'>student.</span>`,
                        )
                        .pause(1000)
                        .delete(8, { speed: 40 })
                        .type(
                            `<span style='background: ${heroGradients.dev}; -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-shadow: -1ch -0.2ch 45px #003cff, 2ch 0.2ch 45px #0cde0ce8;'>developer.</span>`,
                        )
                        .pause(1000)
                        .delete(12, { speed: 40 })
                        .type(
                            `an <span style='background: ${heroGradients.physicist}; -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-shadow: -1.2ch 0ch 45px #f57815, 2ch 0.2ch 45px #f3d700e0;'>aspiring physicist.</span>`,
                        )
                        .pause(1000)
                        .go()
                        .destroy();
                },
            })
                .type("Hi!")
                .pause(500)
                .type(" I'm Silloky")
                .go()
                .destroy();
        });
    }

    heroAnimation().then(() => {
        console.log("Hero animation complete");
        $("#learn-more").css("opacity", "1");
        $("nav").removeClass("hidden-nav");
    });
</script>
