---

var currentPage = "home";

---

<div id="container">
	hello
</div>

<style>

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #f0f0f0;
    }

    #container img {
        width: 100px;
    }

</style>

<style is:global>
    nav {
        /* display: none; */
    }
</style>
