---
import { Icon } from "astro-icon/components"
---

<div id="resume-container">
    <div class="resume-section">
        
    </div>
</div>

<style>
    div#resume-container {
        display: flex;
        flex-direction: column;
    }
</style>